<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
					       http://www.springframework.org/schema/beans/spring-beans.xsd
					       http://www.springframework.org/schema/mvc
					       http://www.springframework.org/schema/mvc/spring-mvc.xsd
					       http://www.springframework.org/schema/context
					       http://www.springframework.org/schema/context/spring-context.xsd
		   				   ">

    <mvc:annotation-driven />
    <mvc:default-servlet-handler />
    <mvc:view-resolvers>
        <mvc:jsp prefix="/WEB-INF/jsp/" suffix=".jsp" />
    </mvc:view-resolvers>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/bsa/**"/>
            <mvc:exclude-mapping path="/bsa/login"/>
            <mvc:exclude-mapping path="/bsa/error404"/>
            <mvc:exclude-mapping path="/bsa/error505"/>
            <mvc:exclude-mapping path="/bsa/members/form"/>
            <mvc:exclude-mapping path="/bsa/members"/>
            <mvc:exclude-mapping path="/bsa/silages/place"/>
            <mvc:exclude-mapping path="/bsa/silages"/>
            <mvc:exclude-mapping path="/bsa/members"/>
            <mvc:exclude-mapping path="/bsa/silages/order"/>
            <mvc:exclude-mapping path="/bsa/silages/list"/>
            <bean class="kr.co.bsa.common.LoginCheckIntercepter"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <context:component-scan base-package="kr.co.bsa"/>

</beans>