<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.bsa.account.AccountMapper">
    <!--매핑 구문-->
    <select id="select"
            parameterType="Member"
            resultType="Account">
        SELECT
        ACCOUNT_CODE
        , MEMBER_CODE
        , BANK_NAME
        , ACCOUNT_NO
        FROM ACCOUNT
        <where>
            <if test="memberCode > 0">
                AND MEMBER_CODE = #{memberCode}
            </if>
        </where>
    </select>

    <insert id="insert"
            parameterType="Account">
        INSERT INTO ACCOUNT
        (MEMBER_CODE, BANK_NAME, ACCOUNT_NO)
        VALUES
        (#{memberCode}, #{bankName}, #{accountNo})
    </insert>

    <update id="update"
            parameterType="Account">
        UPDATE ACCOUNT
        SET BANK_NAME = #{bankName}
            , ACCOUNT_NO = #{accountNo}
        WHERE MEMBER_CODE = #{memberCode}
    </update>
</mapper>