<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.bsa.member.MemberMapper">
    <!--매핑 구문-->
    <select id="select"
            parameterType="Member"
            resultType="Member">
        SELECT
               MEMBER_CODE
             , ID
             , PASSWORD
             , NAME
             , PHONE
             , ADDRESS
             , MEMBER_STATUS
        FROM MEMBER
        <where>
            <if test="id != null">
                AND ID = #{id}
            </if>
            <if test="memberCode > 0">
                AND MEMBER_CODE = #{memberCode}
            </if>
        </where>
        ORDER BY MEMBER_CODE
    </select>

    <insert id="insert"
            parameterType="Member">
        <selectKey order="BEFORE" keyColumn="MEMBER_CODE" keyProperty="memberCode" resultType="int">
            SELECT MAX(MEMBER_CODE)+1 FROM member
        </selectKey>
        INSERT INTO MEMBER
        (ID, PASSWORD, NAME, PHONE, ADDRESS)
        VALUES
        (#{id}, #{password}, #{name}, #{phone}, #{address})
    </insert>

    <update id="update"
            parameterType="Member">
        UPDATE MEMBER
        SET PASSWORD = #{password}
            , NAME = #{name}
            , PHONE = #{phone}
            , ADDRESS = #{address}
            <if test="memberStatus == 'N'">
                , MEMBER_STATUS = #{memberStatus}
            </if>
        WHERE MEMBER_CODE = #{memberCode}
    </update>
</mapper>