<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.bsa.member.MemberMapper">
    <insert id="insert"
            parameterType="Member">

    </insert>
    
    <select id="select"
            parameterType="Member"
            resultType="Member">
        SELECT
               MEMBER_CODE
             , ID
             , PASSWORD
             , NAME
             , PHONE
             , ADDRESS
             , MEMBER_STATUS
        FROM MEMBER
        <where>
            <if test="memberCode != null">
                AND MEMBER_CODE = #{memberCode}
            </if>
            <if test="memberId != null">
                AND ID = #{memberId}
            </if>
        </where>
    </select>

    <update id="update"
            parameterType="Member">

    </update>
</mapper>