<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.bsa.silage.SilageMapper">
    <insert id="insert"
            parameterType="Silage">
        INSERT INTO SILAGE
            (SELLER_CODE, ENROLL_DATETIME, UNIT_PRICE, COUNT, WEIGHT, PRODUCTION_DATE)
        VALUES
            (#{sellerCode}
            , STR_TO_DATE(NOW(),'%Y-%m-%d %H:%i:%s')
            , #{unitPrice}
            , #{count}
            , #{weight}
            , STR_TO_DATE(#{productionDate},'%Y%m%d'))
    </insert>

    <select id="selectAll"
            parameterType="kr.co.bsa.common.DateCommand"
            resultType="Silage">
        SELECT
            SILAGE_CODE
            , ID
            , ADDRESS
            , ENROLL_DATETIME
            , UNIT_PRICE
            , COUNT
            , WEIGHT
            , PRODUCTION_DATE
            , TRANSACTION_STATUS
        FROM SILAGE INNER JOIN MEMBER
        ON SILAGE.SELLER_CODE = MEMBER.MEMBER_CODE
        <where>
            <if test="startDate != null and endDate != null">
                AND ENROLL_DATETIME BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
    </select>

    <select id="select"
            parameterType="Silage"
            resultType="Silage">
        SELECT
               SILAGE_CODE
             , SELLER_CODE
             , ID
             , ENROLL_DATETIME
             , PRODUCTION_DATE
             , WEIGHT
             , COUNT
             , UNIT_PRICE
        FROM SILAGE INNER JOIN MEMBER
        ON SILAGE.SELLER_CODE = MEMBER.MEMBER_CODE
        WHERE SILAGE_CODE=#{silageCode}
    </select>

    <update id="update"
            parameterType="Silage">
        UPDATE SILAGE
        SET ENROLL_DATETIME = #{enrollDateTime}
            PRODUCTION_DATE = #{productionDate}
            WEIGHT = #{weight}
            COUNT = #{count}
            UNIT_PRICE = #{unitPrice}
        WHERE SILAGE_CODE = #{silageCode}
    </update>

    <delete id="delete"
            parameterType="Silage">
        DELETE FROM SILAGE
        WHERE SILAGE_CODE = #{silageCode}
    </delete>
</mapper>