<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.bsa.silage.SilageMapper">
    <insert id="insert"
            parameterType="Silage">
        INSERT INTO SILAGE
            (SELLER_CODE, ENROLL_DATETIME, UNIT_PRICE, COUNT, WEIGHT, PRODUCTION_DATE)
        VALUES
            (#{sellerCode}
            , STR_TO_DATE(NOW(),'%Y-%m-%d %H:%i:%s')
            , #{unitPrice}
            , #{count}
            , #{weight}
            , STR_TO_DATE(#{productionDate},'%Y-%m-%d'))
    </insert>

    <select id="selectAll"
            parameterType="kr.co.bsa.common.DateCommand"
            resultType="Silage">
        SELECT
            SILAGE_CODE
            , ID
            , SELLER_CODE
            , ADDRESS
            , ENROLL_DATETIME
            , UNIT_PRICE
            , COUNT
            , WEIGHT
            , PRODUCTION_DATE
            , TRANSACTION_STATUS
        FROM SILAGE INNER JOIN MEMBER
        ON SILAGE.SELLER_CODE = MEMBER.MEMBER_CODE
        <where>
            <if test="startDate != null and endDate != null">
                AND ENROLL_DATETIME BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
        ORDER BY SILAGE_CODE
    </select>

    <select id="select"
            parameterType="Silage"
            resultType="Silage">
        SELECT
               SILAGE_CODE
             , SELLER_CODE
             , ID
             , ENROLL_DATETIME
             , PRODUCTION_DATE
             , WEIGHT
             , COUNT
             , UNIT_PRICE
             , TRANSACTION_STATUS
        FROM SILAGE INNER JOIN MEMBER
        ON SILAGE.SELLER_CODE = MEMBER.MEMBER_CODE
        <where>
            <if test="silageCode > 0">
                AND SILAGE_CODE=#{silageCode}
            </if>
            <if test="sellerCode > 0">
                AND SELLER_CODE=#{sellerCode}
            </if>
        </where>
        <if test="unitPrice == 1">
            ORDER BY UNIT_PRICE
        </if>
        <if test="unitPrice == 2">
            ORDER BY UNIT_PRICE DESC
        </if>
        <if test="count == 1">
            ORDER BY COUNT
        </if>
        <if test="count == 2">
            ORDER BY COUNT DESC
        </if>
    </select>



    <update id="update"
            parameterType="Silage">
        <if test="weight == 0 || weight == null">
            <if test="transactionStatus == 'N'">
                UPDATE SILAGE
                SET TRANSACTION_STATUS = 'N'
                WHERE SILAGE_CODE = #{silageCode}
            </if>
            <if test="transactionStatus == 'Y'">
                UPDATE SILAGE
                SET TRANSACTION_STATUS = 'Y'
                WHERE SILAGE_CODE = #{silageCode}
            </if>
        </if>
        <if test="weight > 0">
            UPDATE SILAGE
                SET ENROLL_DATETIME = STR_TO_DATE(NOW(),'%Y-%m-%d %H:%i:%s')
                    ,PRODUCTION_DATE = STR_TO_DATE(#{productionDate},'%Y-%m-%d')
                    ,WEIGHT = #{weight}
                    ,COUNT = #{count}
                    ,UNIT_PRICE = #{unitPrice}
            WHERE SILAGE_CODE = #{silageCode}
        </if>
    </update>

    <delete id="delete"
            parameterType="Silage">
        DELETE FROM SILAGE
        <where>
            <if test="silageCode > 0">
                AND SILAGE_CODE=#{silageCode}
            </if>
            <if test="sellerCode > 0">
                AND SELLER_CODE = #{sellerCode} AND TRANSACTION_STATUS = 'Y'
            </if>
        </where>
    </delete>
</mapper>