<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.bsa.transaction.TransactionMapper">
    <insert id="insert"
            parameterType="Transaction">
        INSERT INTO TRANSACTION
            (SILAGE_CODE, SELLER_CODE, BUYER_CODE, BANK_NAME, ACCOUNT_NO, TOTAL_PRICE, TRANSACTION_DATETIME)
        VALUES
            (#{silageCode}
            , #{sellerCode}
            , #{buyerCode}
            , #{bankName}
            , #{accountNo}
            , #{totalPrice}
            , STR_TO_DATE(NOW(),'%Y-%m-%d %H:%i:%s'))
    </insert>

    <select id="selectAll"
            parameterType="kr.co.bsa.common.DateCommand"
            resultType="Transaction">
                SELECT
                    TRANSACTION_CODE
                    , SILAGE_CODE
                    , ID
                    , BUYER_CODE
                    , (SELECT ID FROM MEMBER WHERE MEMBER_CODE = TRANSACTION.SELLER_CODE) SELLER_ID
                    , SELLER_CODE
                    , BANK_NAME
                    , ACCOUNT_NO
                    , TOTAL_PRICE
                    , TRANSACTION_DATETIME
                    , DEPOSIT_STATUS
                    , REMIT_STATUS
                FROM TRANSACTION INNER JOIN MEMBER
                ON TRANSACTION.BUYER_CODE = MEMBER.MEMBER_CODE
                <where>
                    <if test="startDate != null and endDate != null">
                        <if test='startDate != "" and endDate != ""'>
                            AND TRANSACTION_DATETIME BETWEEN #{startDate} AND #{endDate}
                        </if>
                    </if>
                    <if test="silageCode > 0">
                        AND SILAGE_CODE = #{silageCode}
                    </if>
                    <if test="transactionCode > 0">
                        AND TRANSACTION_CODE = #{transactionCode}
                    </if>
                    <if test="sellerCode != buyerCode">
                        <if test="sellerCode > 0">
                            AND SELLER_CODE = #{sellerCode}
                        </if>
                        <if test="buyerCode > 0">
                            AND BUYER_CODE=#{buyerCode}
                        </if>
                    </if>
                    <if test="sellerCode == buyerCode">
                        <if test="sellerCode > 0 and buyerCode > 0">
                            AND SELLER_CODE = #{sellerCode} OR BUYER_CODE=#{buyerCode}
                        </if>
                    </if>
                </where>
                ORDER BY TRANSACTION_DATETIME
                <if test="pageNo != -1">
                    LIMIT #{pageNo}, 10
                </if>
    </select>

    <select id="select"
            parameterType="Transaction"
            resultType="Transaction">
                SELECT
                    TRANSACTION_CODE
                    , SILAGE_CODE
                    , ID
                    , BUYER_CODE
                    , (SELECT ID FROM MEMBER WHERE MEMBER_CODE = TRANSACTION.SELLER_CODE) SELLER_ID
                    , SELLER_CODE
                    , BANK_NAME
                    , ACCOUNT_NO
                    , TOTAL_PRICE
                    , TRANSACTION_DATETIME
                    , DEPOSIT_STATUS
                    , REMIT_STATUS
                FROM TRANSACTION INNER JOIN MEMBER
                ON TRANSACTION.BUYER_CODE = MEMBER.MEMBER_CODE
            <where>
                <if test="silageCode > 0">
                    AND SILAGE_CODE = #{silageCode}
                </if>
                <if test="transactionCode > 0">
                    AND TRANSACTION_CODE = #{transactionCode}
                </if>
                <if test="sellerId > 0">
                    AND SELLER_ID = ${sellerId}
                </if>
            </where>
            ORDER BY TRANSACTION_DATETIME
    </select>

    <update id="update"
            parameterType="Transaction">
            UPDATE TRANSACTION
            SET DEPOSIT_STATUS = #{depositStatus},
                REMIT_STATUS = #{remitStatus}
            WHERE TRANSACTION_CODE = #{transactionCode}
    </update>

    <delete id="delete"
            parameterType="Transaction">
        DELETE FROM TRANSACTION
        WHERE TRANSACTION_CODE = #{transactionCode}
    </delete>
</mapper>